.loading {
    height: 300px;
    width: auto;
    animation: spin 1s linear infinite;
    border: 2px solid white;
    border-radius: 100px;
}

@keyframes spin {
    0% {
        transform: rotate(0deg);
    }
    100% {
        transform: rotate(360deg);
    }
}

#loading-text {
    padding-bottom: 10dvi;
}
