#progress-bar-wrapper{
    position: relative;
    top: 70%;
    left: 50%;
    height: 4dvh;
    width: 25dvw;
    background-color: rgba(0,0,0,0);
    border: 5px solid black;
    border-radius: 5px;
}
#progress-bar{
    background-color: green;
    height: 100%;
    transition: width 0.3s ease-in-out;
    border: 2px solid rgba(0,0,0,0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#percentage {
    color: white;
    position: absolute;
    height: 3dvh;
    width: 3dvh;
    left:90%;
    top: 0%;
}