#progress-bar-wrapper{
    position: relative;
    /* top: 70%;
    left: 50%; */
    height: 4dvh;
    width: 35dvw;
    background-color: rgb(0, 0, 0);
    border: 2px solid rgb(252, 252, 252);
    border-radius: 3px;
}
#progress-bar{
    background-color: blue;
    height: 100%;
    transition: width 0.3s ease-in-out;
    border: 2px solid rgba(64, 1, 254, 0);
    border-top-right-radius: 5px;
    border-bottom-right-radius: 5px;
    border-top-left-radius: 0;
    border-bottom-left-radius: 0;
}
#percentage {
    color: white;
    position: absolute;
    height: 3dvh;
    width: 3dvh;
    left:45%;
    top: 0%;
}